$pad_bg: #D2D2D3;
$playable_tile: #6666FF;
$playable_tile_dark: #4040A1;
$selectable_tile: #DD4B39;
$selectable_tile_dark: #C52F24;
$inactive_tile: #999999;
$playing_tile: #FFCC00;
$playing_tile_dark: #FF7F00;
$green_tile: #00CC66;
$green_tile_dark: #0DA128;
$purple_tile: #A469B3;
$purple_tile_dark: #855391;


$btb_red: #C52F24;
$btb_green: #00CC66;
$btb_yellow: #FFCC00;
$btb_purple: #A469B3;




































