@import 'colors';
@import 'mixins';

#pad {
    /* Tamanio */
    @media only screen and (max-device-width: 515px) {
        /* define mobile specific styles come here */
        width: 100%;
        height: 360px;
        /* Size modifiers */
        .tile {
            margin: 2px 2px 5px 2px;
        }
        &.small {
            .tile {
                height: 113px;
                width: 31.6%;
                .lt {
                    padding-top: 30%;
                }
            }
        }
        &.grand {
            .tile {
                height: 85px;
                width: 23.6%;
                .lt {
                    padding-top: 25%;
                }
            }
        }
    }
    @media only screen and (min-device-width: 515px) {
        margin: auto;
        width: 515px;
        height: 530px;
        margin-top: 20px;
        padding: 8px;
        /* Size modifiers */
        .tile {
            margin: 4px 4px 6px 4px;
        }
        &.small {
            .tile {
                height: 165px;
                width: 163px;
                .lt {
                    padding-top: 30%;
                }
            }
        }
        &.grand {
            .tile {
                height: 120px;
                width: 120px;
                .lt {
                    padding-top: 25%;
                }
            }
        }
    }
    /* resto de características */
    display: block;
    border-radius: 4px;
    background-color: $pad_bg;
    @include user-select(none);
    .row {
        width: 100%;
        float: left;
        display: block;
    }
    /* Size modifiers */
    &.small {
        .row {
            height: 33%;
        }
    }
    &.grand {
        .row {
            height: 25%;
        }
    }
}

.tile {
    float: left;
    display: block;
    border-radius: 4px;
    border-bottom-width: 3px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    background-color: $inactive_tile;
    transition: all 0.2s ease;
    .lt {
        color:   white;
        font-size: 3em;
        font-family: Helvetica;
        text-align: center;
    }
    &:hover {
        @include box-shadow(0, 0, 10px, $inactive_tile);
    }
    &.pressed {
        top: 3px;
        margin-bottom: 9px;
        position: relative;
        border-bottom-width: 1px;
        .lt {
            text-shadow: 0 0 10px white;
        }
    }
    &.playable {
        @include tile-color($playable_tile, $playable_tile_dark);
    }
    &.playing {
        @include tile-color($playing_tile, $playing_tile_dark);
    }
    &.settings {
        @include tile-color($green_tile, $green_tile_dark);
        .volumen {
            position:relative;
            width: 100%; height: 85%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('img/vol.png');
        }
        .vol-bar {
            height: 3px; width: 100px;
            margin-left: 30px;
            border-radius: 3%;
            background-color: black;
            background-color: #231F20;
        }
    }
    &.selectable {
        @include tile-color($selectable_tile, $selectable_tile_dark);
    }
    &.scheduling, &.scheduled, &.waiting {
        @include tile-color($purple_tile, $purple_tile_dark);
    }
}

.controls {
    @extend .row;
    border-radius: inherit;
    left: -8px;
    position: relative;
    padding: 0 8px 0 8px;
    height: auto !important;
    background-color: $pad_bg;
    .btn {
        @extend .tile;
        padding: 10px 0 10px 0;
        height: 20px !important;
        font-family: Helvetica;
        text-align: center;
        font-size: 1em;
        color: white;
        font-weight: 800;
        &.pressed, &:hover {
            text-shadow: 0 0 10px white;
        }
    }
}