* {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  width: 100%; }

#pad {
  padding: 8px;
  margin: auto;
  margin-top: 20px;
  display: block;
  border-radius: 4px;
  background-color: #D2D2D3;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  -o-user-select: none;
  user-select: none;
  /* Size modifiers */ }
  #pad .row {
    width: 100%;
    float: left;
    display: block; }
  #pad.small {
    height: 520px;
    width: 505px; }
    #pad.small .tile {
      height: 160px;
      width: 160px; }
      #pad.small .tile .lt {
        padding-top: 30%; }
    #pad.small .row {
      height: 33%; }
  #pad.grand {
    height: 530px;
    width: 515px; }
    #pad.grand .tile {
      height: 120px;
      width: 120px; }
      #pad.grand .tile .lt {
        padding-top: 25%; }
    #pad.grand .row {
      height: 25%; }

.tile {
  float: left;
  display: block;
  margin: 4px 4px 7px 4px;
  border-radius: 4px;
  border-bottom-width: 3px;
  border-bottom-color: grey;
  border-bottom-style: solid;
  background-color: #999999;
  transition: all 0.2s ease; }
  .tile .lt {
    color: white;
    font-size: 3em;
    font-family: Helvetica;
    text-align: center; }
  .tile:hover {
    -webkit-box-shadow: 0 0 10px #999999 ;
    -moz-box-shadow: 0 0 10px #999999 ;
    box-shadow: 0 0 10px #999999 ; }
  .tile.pressed, .tile.playing {
    top: 3px;
    margin-bottom: 9px;
    position: relative;
    border-bottom-width: 1px; }
  .tile.playable {
    background-color: #6666FF;
    border-bottom-color: #4040A1; }
    .tile.playable:hover {
      -webkit-box-shadow: 0 0 10px #6666FF ;
      -moz-box-shadow: 0 0 10px #6666FF ;
      box-shadow: 0 0 10px #6666FF ; }
  .tile.playing {
    background-color: #FFCC00;
    border-bottom-color: #FF7F00; }
    .tile.playing:hover {
      -webkit-box-shadow: 0 0 10px #FFCC00 ;
      -moz-box-shadow: 0 0 10px #FFCC00 ;
      box-shadow: 0 0 10px #FFCC00 ; }
    .tile.playing .lt {
      text-shadow: 0 0 10px white; }
  .tile.settings {
    background-color: #00CC66;
    border-bottom-color: #0DA128; }
    .tile.settings:hover {
      -webkit-box-shadow: 0 0 10px #00CC66 ;
      -moz-box-shadow: 0 0 10px #00CC66 ;
      box-shadow: 0 0 10px #00CC66 ; }
    .tile.settings .volumen {
      position: relative;
      width: 100%;
      height: 85%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('img/vol.png'); }
    .tile.settings .vol-bar {
      height: 3px;
      width: 100px;
      margin-left: 30px;
      border-radius: 3%;
      background-color: black;
      background-color: #231F20; }
  .tile.selectable {
    background-color: #DD4B39;
    border-bottom-color: #C52F24; }
    .tile.selectable:hover {
      -webkit-box-shadow: 0 0 10px #DD4B39 ;
      -moz-box-shadow: 0 0 10px #DD4B39 ;
      box-shadow: 0 0 10px #DD4B39 ; }
  .tile.scheduling, .tile.scheduled, .tile.waiting {
    background-color: #A469B3;
    border-bottom-color: #855391; }
    .tile.scheduling:hover, .tile.scheduled:hover, .tile.waiting:hover {
      -webkit-box-shadow: 0 0 10px #A469B3 ;
      -moz-box-shadow: 0 0 10px #A469B3 ;
      box-shadow: 0 0 10px #A469B3 ; }

/*# sourceMappingURL=pad.css.map */