@mixin box-shadow($top, $left, $blur, $color, $inset:"") {

    -webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
    box-shadow:$top $left $blur $color #{$inset};
}

@mixin user-select($option) {
    -webkit-user-select: $option; /* Chrome/Safari */        
    -moz-user-select: $option; /* Firefox */
    -ms-user-select: $option; /* IE10+ */
    -o-user-select: $option;
    user-select: $option;
}

@mixin tile-color($color, $darker) {
    background-color: $color;
    border-bottom-color: $darker;
    &:hover {
        @include box-shadow(0, 0, 10px, $color);
    }
}